<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.amatmu.restaurant.dao.IRestaurantRepository">

	<insert id="insertRestaurant" parameterType="com.metanet.amatmu.restaurant.model.Restaurant">
	<![CDATA[
		INSERT INTO 
			restaurant (
				rest_id,
				rest_name,
				rest_location_x,
				rest_location_y,
				rest_location_name,
				rest_keyword,
				rest_phone_number,
				rest_open_time,
				rest_close_time,
				rest_create_date,
				rest_station,
				rest_category,
				rest_max_resv,
				rest_deposit
				) 
		VALUES (
			#{restId},
			#{restName},
			#{restLocationX},
			#{restLocationY},
			#{restLocationName},
			#{restKeyword},
			#{restPhoneNumber},
			#{restOpenTime},
			#{restCloseTime},
			#{restCreateDate},
			#{restStation},
			#{restCategory},
			#{restMaxResv},
			#{restDeposit}
		) 
	]]>
	</insert>
	

	

<!-- 	<select id="selectFavoriteByRestId" parameterType="Long" resultMap="favoriteResultMap">
	<![CDATA[
		SELECT 			
			favo_id,
			memb_id,
			rest_id
		FROM 
			favorite
		WHERE rest_id=#{restId}
	]]>
	</select> -->
	
	<select id="selectRestaurantByRestId" parameterType="Long" resultMap="RestaurantResultMap">
		<![CDATA[
		SELECT 			
			rest_id,
			rest_name,
			rest_location_x,
			rest_location_y,
			rest_location_name,
			rest_keyword,
			rest_phone_number,
			rest_open_time,
			rest_close_time,
			rest_create_date,
			rest_station,
			rest_category,
			rest_max_resv,
			rest_deposit
		FROM 
			Restaurant
		WHERE rest_id=#{restId}
		]]>
	</select>
	
	
	
	<select id="selectMaxRestaurantId" parameterType="long" resultType="long">
	<![CDATA[
		SELECT NVL(MAX(rest_id),0) AS "restId"
		FROM restaurant
	]]>
	</select>
	
	
	<!-- <select id="selectFavoriteByRestIdAndMembId" parameterType="com.metanet.amatmu.favorite.model.FavoriteDto" resultType="com.metanet.amatmu.favorite.model.Favorite">
		<![CDATA[
			SELECT 			
				favo_id as favoId,
				memb_id as membId,
				rest_id as restId
			FROM 
				Favorite
			WHERE rest_id=#{restId} and memb_id=#{membId}
		]]>
	</select>
	 -->
	 
 	<delete id="deleteRestaurant" parameterType="long">
		<![CDATA[
			DELETE FROM
				restaurant
			WHERE
				rest_id=#{restId}
		]]>
	</delete>
	
	
	<select id="selectBmanRequest" resultMap="BusinessmanResultMap">
		<![CDATA[
		SELECT 			
			bman_id,
			memb_id,
			rest_id,
			bman_company_name,
			bman_license_number,
			bman_registration,
			bman_report,
			bman_bankbook,
			bman_create_date,
			bman_grant_date,
			bman_account,
			bman_status
		FROM 
			businessman
		WHERE
			bman_status='WAIT'
		]]>
	</select>
	
	<update id="evaluateBmanRequest" parameterType="com.metanet.amatmu.restaurant.model.EvaluateBmanDto">
	<![CDATA[
		UPDATE businessman
		SET
			bman_status=#{eval},
			bman_grant_date=#{grantDate}
		WHERE 
			bman_id=#{businessmanId}
	]]>
	</update>
	
	
	<select id="selectRestaurantsByKeyword" parameterType="String" resultMap="RestaurantResultMap">
		<![CDATA[
		SELECT 			
			rest_id,
			rest_name,
			rest_location_x,
			rest_location_y,
			rest_location_name,
			rest_keyword,
			rest_phone_number,
			rest_open_time,
			rest_close_time,
			rest_create_date,
			rest_station,
			rest_category,
			rest_max_resv,
			rest_deposit
		FROM 
			Restaurant
		WHERE 
			rest_location_name LIKE '%' || #{searchKeyword} || '%' OR
			rest_keyword LIKE '%' || #{searchKeyword} || '%' OR
			rest_station LIKE '%' || #{searchKeyword} || '%' OR
			rest_category LIKE '%' || #{searchKeyword} || '%'
		]]>
	</select>
	
	
	
	<resultMap id="BusinessmanResultMap" type="com.metanet.amatmu.businessman.model.Businessman">
        <id property="businessmanId" column="bman_id"/>
        <result property="memberId" column="memb_id"/>
        <result property="restaurantId" column="rest_id"/>
        <result property="companyName" column="bman_company_name"/>
        <result property="licenseNumber" column="bman_license_number"/>
        <result property="registration" column="bman_registration"/>
        <result property="report" column="bman_report"/>
        <result property="bankbook" column="bman_bankbook"/>
        <result property="createDate" column="bman_create_date"/>
        <result property="grantDate" column="bman_grant_date"/>
        <result property="account" column="bman_account"/>
        <result property="status" column="bman_status"/>
    </resultMap>
	
	
	<resultMap id="RestaurantResultMap" type="com.metanet.amatmu.restaurant.model.Restaurant">
        <id property="restId" column="rest_id"/>
        <result property="restName" column="rest_name"/>
        <result property="restLocationX" column="rest_location_x"/>
        <result property="restLocationY" column="rest_location_y"/>
        <result property="restLocationName" column="rest_location_name"/>
        <result property="restKeyword" column="rest_keyword"/>
        <result property="restPhoneNumber" column="rest_phone_number"/>
        <result property="restOpenTime" column="rest_open_time"/>
        <result property="restCloseTime" column="rest_close_time"/>
        <result property="restCreateDate" column="rest_create_date"/>
        <result property="restStation" column="rest_station"/>
        <result property="restCategory" column="rest_category"/>
        <result property="restMaxResv" column="rest_max_resv"/>
        <result property="restDeposit" column="rest_deposit"/>
    </resultMap>

</mapper>